<?xml version="1.0"?>
<!--  File name: vtol_plugin.urdf.xacro
      Author: Mehmet Efe Tiryaki
      E-mail: m.efetiryaki@gmail.com
      Date created: 26.10.2018
      Date last modified: 26.10.2018
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
         <legacyModeNS>true</legacyModeNS>
      </plugin>
    </gazebo>
</robot>
